<div layout="column" style="max-width:840px;">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>
        <span>Order Form</span>
      </h2>
      <span flex></span>
      <button md-raised-button aria-label="Submit" (click)="clicked('Submit')">
        Submit
      </button>
    </div>
  </md-toolbar>   
  <md-content layout-padding>
    <form [ngFormModel]="projectForm">
      <md-input-container class="md-block">
        <label for="clientName">Name</label>
        <input md-input ngControl="clientName" id="clientName" [(value)]="model.clientName">
        <div md-messages="clientName" role="alert">
          <div md-message="required">This is required.</div>
        </div>
      </md-input-container>
      <md-input-container class="md-block">
        <label for="clientEmail">Email</label>
        <input md-input type="email" ngControl="clientEmail" id="clientEmail" [(value)]="model.clientEmail"/>
        <div md-messages="clientEmail" role="alert">
          <div md-message>Your email must be between 10 and 100 characters long and look like an e-mail address.</div>
        </div>
      </md-input-container>
      <md-input-container class="md-block">
        <label for="clientPhone">Phone</label>
        <input md-input ngControl="clientPhone" id="clientPhone" [(value)]="model.clientPhone"/>
        <div md-messages="clientPhone" role="alert">
          <div md-message="required">This is required.</div>
        </div>
      </md-input-container>
      <md-input-container class="md-block">
        <label for="subject">Subject</label>
        <input md-input ngControl="subject" id="subject" [(value)]="model.subject"/>
        <div md-messages="subject" role="alert">
          <div md-message="required">This is required.</div>
        </div>
      </md-input-container>
      <md-input-container class="md-block">
        <label for="message">Message</label>
        <input md-input ngControl="message" id="message" [(value)]="model.message">
        <div md-messages="message" role="alert">
          <div md-message="required">This is required.</div>
        </div>
      </md-input-container>
    </form>
  </md-content>
</div>