<div layout="column">
  <md-toolbar class="md-hero" layout="row" layout-align="center center" layout-align-gt-md="end end">
    <h1>Order Form</h1>
   </md-toolbar>
  <md-content layout-padding>
    <form [ngFormModel]="projectForm">
      <md-input-container class="md-block">
        <label for="clientName">Name</label>
        <input md-input ngControl="clientName" id="clientName" [(value)]="model.clientName">
        <div md-messages="clientName" role="alert">
          <div md-message="required">This is required.</div>
        </div>
      </md-input-container>
      <md-input-container class="md-block">
        <label for="clientEmail">Email</label>
        <input md-input type="email" ngControl="clientEmail" id="clientEmail" [(value)]="model.clientEmail"/>
        <div md-messages="clientEmail" role="alert">
          <div md-message>Your email must be between 10 and 100 characters long and look like an e-mail address.</div>
        </div>
      </md-input-container>
      <md-input-container class="md-block">
        <label for="clientPhone">ClientPhone</label>
        <input md-input ngControl="clientPhone" id="clientPhone" [(value)]="model.clientPhone"/>
        <div md-messages="clientPhone" role="alert">
          <div md-message="required">This is required.</div>
        </div>
      </md-input-container>
      <md-input-container class="md-block">
        <label for="subject">Subject</label>
        <input md-input ngControl="subject" id="subject" [(value)]="model.subject"/>
        <div md-messages="subject" role="alert">
          <div md-message="required">This is required.</div>
        </div>
      </md-input-container>
      <md-input-container class="md-block">
        <label for="message">Message</label>
        <input md-input ngControl="message" id="message" [(value)]="model.message"/>
        <div md-messages="message" role="alert">
          <div md-message="required">This is required.</div>
        </div>
      </md-input-container>
      
    </form>
    <strong>Model</strong>
    <pre class="md-padding">{{model | json}}</pre>
  </md-content>
</div>